.first-screen{
  background-color: #ffffff;
}
.first-screen__wrapper{
  width: 320px;
  height: 302px;
  //background-color: rgba(104, 183, 56, 0.85) ;
  background-image: url("/source/img/index-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
